@model PrevisaoTempo.Models.ViewModels.PrevisaoCidadeViewModel

<h2>Clima tempo simples</h2>

<div class="row">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header bg-primary text-white">Cidades mais quentes hoje</div>
            <div class="card-body">
                @foreach (var cidade in Model.PrevisoesMaxima)
                {
                    <div class="row">
                        <div class="col-6">
                            @cidade.Cidade.Nome/@cidade.Cidade.Estado.Uf
                        </div>
                        <div class="col-3">
                            Min @cidade.TemperaturaMinima°C
                        </div>
                        <div class="col-3">
                            Max @cidade.TemperaturaMaxima°C
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header bg-primary text-white">Cidades mais frias hoje</div>
            <div class="card-body">
                @foreach (var cidade in Model.PrevisoesMinima)
                {
                    <div class="row">
                        <div class="col-6">
                            @cidade.Cidade.Nome/@cidade.Cidade.Estado.Uf
                        </div>
                        <div class="col-3">
                            Min @cidade.TemperaturaMinima°C
                        </div>
                        <div class="col-3">
                            Max @cidade.TemperaturaMaxima°C
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-auto">
        <label class="text-black"><b>Cidade:</b></label>
        <div class="form-group">
            <form id="buscarCidadePorNome">
                <select name="idCidade" id="cidadeSelecionada" class="select2 col-auto form-control">
                    <option value="">Selecione uma cidade</option>
                    @foreach (var cidade in Model.Cidades)
                    {
                        var selecionado = Model.CidadeEPrevisoes != null && Model.CidadeEPrevisoes.Id == cidade.Id
                            ? "selected" : null;
                        <option value="@cidade.Id" selected="@selecionado">@cidade.Nome</option>
                    }
                </select>
            </form>
        </div>
    </div>
</div>

@if (Model.CidadeEPrevisoes != null && Model.CidadeEPrevisoes.PrevisaoClimas.Count > 0)
{
    <h2>
        Clima para o próximo sete dias na cidade @Model.CidadeEPrevisoes.Nome
    </h2>

    <div class="row">


        @foreach (var previsao in Model.CidadeEPrevisoes.PrevisaoClimas)
        {

            var diaSemana = string.Empty;

            switch (previsao.DataPrevisao.DayOfWeek.ToString())
            {
                case "Sunday":
                    diaSemana = "Domingo";
                    break;
                case "Monday":
                    diaSemana = "Segunda-feira";
                    break;
                case "Tuesday":
                    diaSemana = "Terça-feira";
                    break;
                case "Wednesday":
                    diaSemana = "Quarta-feira";
                    break;
                case "Thursday":
                    diaSemana = "Quinta-feira";
                    break;
                case "Friday":
                    diaSemana = "Sexta-feira";
                    break;
                case "Saturday":
                    diaSemana = "Sábado";
                    break;
            }
            <div class="col-auto">
                <div class="card bg-light">
                    <div class="card-header bg-primary text-white">@diaSemana</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                @previsao.Clima
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                Mínima: @previsao.TemperaturaMinima°C
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                Máxima: @previsao.TemperaturaMaxima°C
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
}
else if (Model.Id > 0)
{
    <h2>Não há previsões cadastradas para essa cidade</h2>
}

@section Scripts{
    <script src="~/js/Home/Index.js"></script>
}
